body {
  background-image: url(image.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.weather-app {
  background-image: url(13.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  margin: 0 auto;
  margin-top: 60px;
  padding: 20px;
  padding-top: -20px;
  max-width: 600px;
  max-height: 650px;
  border-radius: 20px;
  border: none;
}
.container {
  margin-top: 20px;
}
h1 {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: #6fcdf4;

  margin-top: -50px;
  font-size: 28px;
  font-weight: 100;
  line-height: 28px;
  margin: 0px 0px 50px 0px;
}

ul {
  padding: 0px;
  margin-top: -15px;
}

li {
  color: #6fcdf4;
  font-size: 20px;
  margin-top: -50px;
  list-style: none;
}

.primaryUl {
  color: #6fcdf4;
}

.degrees {
  font-size: 30px;
  margin-top: 50px;
  margin-left: 0px;
  font-weight: 500;
}

.units {
  position: relative;
  font-size: 21px;
  top: -10px;
  text-decoration: none;
  color: #6fcdf4;
}

.units .active {
  text-decoration: none;
  color: #6fcdf4;
  font-weight: 500;
}
.units .active:hover {
  text-decoration: dotted;
  color: #38adef;
}

.current-location-button {
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
  cursor: pointer;
  border: none;
  margin-left: -20px;
}

.accordingToNami {
  font-size: 16px;
  text-align: left;
  margin-top: 45px;
  margin-left: 410px;
  margin-bottom: 30px;
  padding: 0.2rem;
}

.nami-says {
  color: #6fcdf4;
}
.wind,
.humidity {
  color: white;
  font-size: 16px;
  text-align: right;
}

.temperature {
  padding: 2px;
}

.current-weather-image {
  margin: -230px 0px 180px 240px;
  width: 115px;
}

.search-box {
  text-align: center;
  padding: 15px;
  margin-top: -50px;
  margin-bottom: 20px;
  margin: 0 auto;
  font-size: 10px;
}

.search-bar,
.search-submit {
  border: none;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  padding: 7px;
  text-transform: capitalize;
  font-size: 14px;
  opacity: 0.6;
  background-color: #6fcdf4;
  border: #38adef;
  color: white;
  border-radius: 15px;
}
.search-bar:active {
  color: white;
  border-color: #38adef;
}

::placeholder {
  color: white;
}

.future-forecast {
  display: block;
  margin: 0 auto;
  margin-top: 0px;
  max-width: 650px;
}

.col-2 {
  margin: 5px;
  border-radius: 10px;
  background-color: #38adef;
  font-size: 14px;
  margin-left: 12px;
  padding: 5px;
}

.weather-forecast-date {
  color: white;
  text-align: center;
  font-size: 15px;
}

.weather-forecast-temperature {
  color: white;
  text-align: center;
  font-size: 12px;
  padding: 3px;
  width: auto;
}

.col-2:hover {
  background-color: #6fcdf4;
}

.future-forecast-image {
  display: block;
  margin: 0 auto;
}

footer {
  font-size: 18px;
  text-align: center;
  color: white;
  font-weight: bold;
  padding: 50px;
  display: block;
  margin: 0 auto;
}

.footer-link {
  color: white;
  text-decoration: none;
}
.footer-link:hover {
  text-decoration: none;
  font-size: 24px;
  color: white;
}

.footer-github {
  color: white;
  text-decoration: none;
}
.footer-github:hover {
  color: white;
  text-decoration: none;
  font-size: 24px;
}

.weather-forecast {
  margin-top: 20px;
  text-align: center;
  font-size: 16px;
}

.weather-forecast-temperature {
  font-size: 13px;
}

.description {
  font-size: 16px;
  color: #6fcdf4;
  font-weight: 500;
  text-transform: capitalize;
}

footer p {
  background-color: rgba(111, 205, 244, 0.8);
  padding: 8px;
  border-radius: 10px;
}

@media (max-width: 750px) {
  h1 {
    font-size: 20px;
  }

  li {
    font-size: 14px;
  }

  body {
    background-size: 772px 700px;
    background-position: 90%;
  }
  .weather-app {
    margin: 70px 0px 0px 0px;
    max-width: 355px;
    max-height: 700px;
    background-size: contain;
    background-repeat: repeat;
    background-position: 50%;
    padding-top: 1px;
  }

  .row {
    margin-top: -40px;
  }
  .search-bar,
  .search-submit {
    font-size: 12px;
  }

  .current-location-button-img {
    width: 60px;
  }

  .degrees {
    font-size: 20px;
  }

  .units {
    font-size: 12px;
  }
  .search-box {
    padding: 0px;
  }

  .current-weather-image {
    margin: -170px 100px 180px 130px;
    width: 70px;
  }

  .accordingToNami {
    margin-left: 100px;
    margin-top: 32px;
    line-height: 2.8;
    text-align: right;
  }

  .description {
    font-size: 12px;
  }

  .description-weather {
    font-size: 10px;
  }
  .nami-says {
    font-size: 12px;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  }

  .weather-forecast {
    margin-top: 0px;
    font-size: 10px;
  }

  .weather-forecast-date {
    font-size: 10px;
  }

  .weather-forecast-temperature {
    font-size: 10px;
  }

  .future-forecast-image {
    width: 40px;
  }

  .col-2 {
    margin-left: auto;
  }

  footer {
    padding: 20px;
    font-size: 14px;
  }
}
