body {
  background-image: url(image.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.weather-app {
  background-image: url(13.png);
  background-repeat: no-repeat;

  background-size: cover;
  display: block;
  margin: 0 auto;
  margin-top: 50px;
  padding: 20px;
  max-width: 600px;
  max-height: 650px;
  border-radius: 10px;
  border: 1px solid #dadde1;
}
.container {
  margin-top: -35px;
}
h1 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: #6fcdf4;
  margin-top: -50px;
  font-size: 30px;
  font-weight: 100;
  line-height: 28px;
  margin: 0px 0px 50px 0px;
}

ul {
  padding: 0px;
  margin-top: -15px;
}

li {
  color: #6fcdf4;
  font-size: 20px;
  margin-top: -50px;
  list-style: none;
}

.primaryUl {
  color: #6fcdf4;
}

.degrees {
  font-size: 24px;
  margin-top: 1px;
  font-weight: 500;
}

.units {
  position: relative;
  font-size: 21px;
  top: -10px;
  text-decoration: none;
  color: #d37d3c;
}

.units .active {
  text-decoration: none;
  color: #418149;
  font-weight: 500;
}
.units .active:hover {
  text-decoration: dotted;
  color: #d37d3c;
}

.current-location-button {
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
  cursor: pointer;
  border: none;
  margin-left: -20px;
}

.accordingToNami {
  font-size: 16px;
  text-align: left;
  margin-top: 130px;
  margin-left: 0px;
  color: #418149;
}
.wind,
.humidity {
  color: white;
  font-size: 16px;
  text-align: right;
}

.temperature {
  padding: 2px;
}

.current-weather-image {
  margin: -250px 0px 150px 250px;
}

.description {
  text-transform: capitalize;
}

.search-box {
  text-align: center;
  padding: 15px;
  margin: 0 auto;
  width: 100%;
  font-size: 20px;
}

.search-bar,
.search-submit {
  border: none;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  padding: 7px;
  text-transform: capitalize;
  font-size: 16px;
  opacity: 0.6;
  color: black;
  border-radius: 15px;
}

.future-forecast {
  display: block;
  margin: 0 auto;
  margin-top: 0px;
  max-width: 650px;
}

.col-2 {
  margin: 5px;
  border-radius: 10px;
  background-color: #6fcdf4;
  font-size: 14px;
  margin-left: 12px;
  padding: 5px;
}

.weather-forecast-date {
  color: white;
  text-align: center;
  font-size: 15px;
}

.weather-forecast-temperature {
  color: white;
  text-align: center;
  font-size: 12px;
  padding: 3px;
  width: auto;
}

.col-2:hover {
  background-color: #38adef;
}

.future-forecast-image {
  display: block;
  margin: 0 auto;
}

footer {
  font-size: 20px;
  text-align: center;
  color: #418149;
  font-weight: bold;
  padding: 50px;
  display: block;
  margin: 0 auto;
}

.footer-link {
  color: #418149;
  text-decoration: none;
}
.footer-link:hover {
  color: #a9c634;
  text-decoration: none;
}

.footer-github {
  color: #418149;
  text-decoration: none;
}

.weather-forecast {
  margin-top: 20px;
  text-align: center;
  font-size: 16px;
}

.weather-forecast-temperature {
  font-size: 13px;
}
